
    <div class="icons">
        <dca-icon 
        (dcClick)="dcClick($event)"
        (dcHover)="dcHover($event)"
        (dcMouseUp)="dcMouseUp($event)"
        (dcMouseDown)="dcMouseDown($event)"
        (dcMouseLeave)="dcMouseLeave($event)"
        (dcMouseEnter)="dcMouseEnter($event)"
        (dcDoubleClick)="dcDoubleClick($event)"  
        icon="anchor"></dca-icon>
        <dca-icon icon="folder-closed"></dca-icon>
        <dca-icon icon="fish"></dca-icon>
        <dca-icon icon="circle-exclamation"></dca-icon>
    </div>
    <textarea name="" id="" cols="30" rows="10">{{consoleText}}</textarea>
