<dc-datatable class="primary" 
    [rows]="rows"
    [loadingIndicator]="loadingIndicator" 
    [columns]="columns"
    [columnMode]="ColumnMode.force" 
    [reorderable]="reorderable"
    columnMode="force" 
    [scrollbarH]="true"
    [allowColumnSearch]="true" 
    [allowGridSearch]="true"
    [allowColumnChooser]="true" 
    [allowAdding]="true"
    [allowDeleting]="true" 
    [allowEditing]="true"
     [allowSaveButton]="true"
    [allowReverseButton]="true" 
    [allowSorting]="true">
</dc-datatable>