<dcm-dropdown [closeOnOutsideClick]="true" [value]="dropdownValue" #dropdown1>
     <dca-tree (dcClick)="test($event)" #dcmDropdownContent [treeData]="treeData"></dca-tree>
     <!-- <dca-list (dcClick)="optionSelect($event)" displayExp="name" valueExp="id" [dataSource]="listData"></dca-list> -->
</dcm-dropdown>

<dcm-dropdown [closeOnOutsideClick]="true" [value]="dropdownValue" #dropdown2>
     <dca-list (dcClick)="optionSelect($event)" displayExp="name" valueExp="id" [dataSource]="listData"></dca-list>
</dcm-dropdown>

<dcm-dropdown [closeOnOutsideClick]="true" [value]="dropdownValue" #dropdown3>
     <ng-container *ngTemplateOutlet="testTemplate"></ng-container>
</dcm-dropdown>

<ng-template #testTemplate>
     <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat, at.</p>
</ng-template>