<dc-datatable class="primary" [rows]="rows"
    [loadingIndicator]="loadingIndicator" 
    [columns]="columns"
    [columnMode]="ColumnMode.force" 
    [reorderable]="reorderable"
    columnMode="force" 
    [scrollbarH]="false"
    [allowColumnSearch]="false" 
    [allowGridSearch]="false"
    [allowColumnChooser]="false" 
    [allowAdding]="true"
    [allowDeleting]="true" 
    [allowEditing]="true" 
    [allowSaveButton]="true"
    [allowReverseButton]="true" 
    [allowSorting]="false">
</dc-datatable>