<div class="container">
    <div class="header">
        <h1 class="header-title">Darkchicken Breadcrumbs</h1><br><br>
        <h2>Breadcrumb Types and Usage</h2>
        <p>DarkChicken is an innovative library providing user interface tools for developers using Angular. The "Breadcrumb"
            UI element in this library is designed to optimize user experience and facilitate the developers' work. Here
            are the basic features and usage of DarkChicken Breadcrumb elements:</p>

        <h3>Basic Features</h3>
        <ul>
            <li><strong>Easy Navigation:</strong> DarkChicken Breadcrumb elements provide a clear path of navigation for users,
                making it easier to understand their current location within the application's hierarchy.</li>
            <li><strong>Customizability:</strong> You can customize the appearance and behavior of the Breadcrumb elements
                according to your projects. Using CSS, you can alter the color, size, font, and more.</li>
            <li><strong>Data Binding:</strong> Breadcrumb elements support dynamic data binding, allowing you to display a
                variety of paths effortlessly. You can bind the breadcrumb data to a data source, making it easy to handle
                dynamic navigational paths.</li>
            <li><strong>Accessibility:</strong> DarkChicken is designed according to accessibility standards. Breadcrumb
                elements are fully compatible with screen readers and keyboard navigation, ensuring inclusivity for all
                users.</li>
        </ul>

        <h3>Usage</h3>
        <p>In this code example, the Breadcrumb component is used to display a navigation path:</p>
        <ul>
            <li><strong>Breadcrumb List:</strong> The <code>[crumbList]</code> attribute binds the breadcrumb data to the component,
                creating a navigational path for the user.</li>
        </ul>

        <p>These elements allow users to visualize and navigate different paths within their projects. When a breadcrumb item
            is clicked, specific actions can be performed, enhancing user experience and navigation. DarkChicken Breadcrumb
            elements offer a comprehensive and practical guide for those who want to understand and use user interface components
            better.</p>
    </div>
</div>

<div class="content container">
    <section class="card" (click)="onModalClick('modal1')">
        <h2 class="button-title">BreadCrumbs</h2>
        <dca-bread-crumb [crumbList]="crumbList" class="content-lib-item"></dca-bread-crumb>

    </section>

</div>

<div class="container">
    <div class="header">
        <h1 class="header-title">Properties</h1><br><br>
        <dcm-tab [tab]="tabProperties" (dcTabChange)="tabChange()">
            <div #tabContent id="1">
                <dc-datatable #table1 class="primary" [rows]="inputRows" [loadingIndicator]="false"
                    [columns]="inputColumns" [columnMode]="'force'" [reorderable]="false" [allowColumnSearch]="true"
                    [scrollbarH]="false" [useToolbar]="false" [allowDeleting]="false" [allowAdding]="false"
                    [allowEditing]="false">
                </dc-datatable>

            </div>
            <div #tabContent id="2">
                <dc-datatable #table2 class="primary" [rows]="eventRows" [loadingIndicator]="false"
                    [columns]="eventColumns" [columnMode]="'force'" [reorderable]="false" [allowColumnSearch]="true"
                    [scrollbarH]="false" [useToolbar]="false" [allowDeleting]="false" [allowAdding]="false"
                    [allowEditing]="false">
                </dc-datatable>
            </div>
        </dcm-tab>
    </div>

</div>

<div class="modal-overlay" id="modalOverlay" (click)="closeModal()"
    [ngClass]="{'show':selectedModal=='modal1' ? true : false}"></div>
<div class="modal" id="modal" [ngClass]="{'show':selectedModal=='modal1' ? true : false}">

    <dcm-tab [tab]="tabs">
        <div #tabContent id="1">

            <iframe
                src="https://codesandbox.io/p/devbox/asd-my5g4g?embed=1&file=%2Fsrc%2Fapp%2Fbread-crumbs%2Fbread-crumbs.component.html"
                width="100%" height="600px" frameborder="1">
            </iframe>
        </div>
        <div #tabContent id="2">

            <iframe
                src="https://codesandbox.io/p/devbox/asd-my5g4g?embed=1&file=%2Fsrc%2Fapp%2Fbread-crumbs%2Fbread-crumbs.component.ts"
                width="100%" height="600px" frameborder="1">
            </iframe>
        </div>
    </dcm-tab>
</div>