* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
  
  body {
    line-height: 1.6;
    color: #333;
  }
  
  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .header, .footer {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .header h1 {
    text-align: left;
    color: #333;
  }
  
  .header p, .footer p {
    text-align: justify;
    color: #555;
  }
  
  .content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 10px;
  }
  
  .card {
    margin: 2px;
    width: calc(50% - 20px);
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s, background-color 0.5s;
  }
  
  .card:not(.not-hover):hover {
    
    background-color: #eee9e9;
    transform: scale(1.02);
  }
  
  .card h2 {
    margin: 0;
    margin-bottom: 10px;
    color: #333;
  }
  
  .button-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  
  /* dca-button {
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    flex: 1 1 calc(25% - 10px);
    text-align: center;
  } */
  
  .button-title {
    color: #666;
  }
  
  .card-last-button{
    margin: 15px;
  }
  
  .tab-content{
    padding: 0 !important;
  }
.big-card {
    margin: 2px;
    width: calc(100%);
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s, background-color 0.5s;
  }
  
  .big-card:not(.not-hover):hover {
    
    background-color: #eee9e9;
    transform: scale(1.02);
  }
  
  .big-card h2 {
    margin: 0;
    margin-bottom: 10px;
    color: #333;
  }
  .modal-big-card {
    
    flex: 1 1 calc(50% - 20px);
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s, background-color 0.5s;
  }
  
  
  .modal-content-big-card {
    margin: 2px;
    flex: 1 1 calc(50% - 20px);
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s, background-color 0.5s;
  }
  
  .modal-content-big-card:hover {
    
    background-color: #eee9e9;
    transform: scale(1.02);
  }
  
  .big-card-last-button{
    margin: 15px;
  }
  