<div class="inputs">
    <dca-input (dcValueChanged)="dcValueChanged($event)" (dcFocusOut)="dcFocusOut($event)"
        (dcFocusIn)="dcFocusIn($event)" (dcValidating)="dcValidating($event)" (dcValidated)="dcValidated($event)"
        value="test" label="Clear" placeholder="Type..." [readonly]="true"></dca-input>
    <br>
    <dca-input [disabled]="true" (dcValueChanged)="dcValueChanged($event)" (dcFocusOut)="dcFocusOut($event)"
    (dcFocusIn)="dcFocusIn($event)" (dcValidating)="dcValidating($event)" (dcValidated)="dcValidated($event)" inputId="isd1"  label="Text*" type="text" (dcValidating)="dcValidating($event)" [validationRules]="validationRulesText"></dca-input>
    <br>
    <dca-input [visible]="true" (dcValueChanged)="dcValueChanged($event)" (dcFocusOut)="dcFocusOut($event)"
    (dcFocusIn)="dcFocusIn($event)" (dcValidating)="dcValidating($event)" (dcValidated)="dcValidated($event)" label="Number*" placeholder="Number" type="number" [validationRules]="validationRulesNumber"></dca-input>

    <dca-input [validationRules]="validationRulesText" label="With Icon" placeholder="search..." type="text">
        <dca-icon icon="bolt"></dca-icon>
    </dca-input>
    <br>
</div>

<textarea name="" id="" cols="30" rows="10">{{consoleText}}</textarea>