<dc-datatable class="primary" [rows]="rows"
    [loadingIndicator]="loadingIndicator" 
    [columns]="columns"
    [columnMode]="ColumnMode.force" 
    [reorderable]="reorderable"
    columnMode="force" 
    [scrollbarH]="false"
    [allowColumnSearch]="false" 
    [allowGridSearch]="false"
    [allowColumnChooser]="false" 
    [allowAdding]="false"
    [allowDeleting]="false" 
    [allowEditing]="false" 
    [allowSaveButton]="false"
    [allowReverseButton]="false" 
    [allowSorting]="true">
</dc-datatable>