<div class="container">
    <div class="header">
        <h1 class="header-title">DarkChicken Tabs</h1><br><br>
        <section>
            <p>This page is designed to introduce the versatile and powerful
                <code>dcm-tab</code> components available in the
                DarkChicken library for Angular developers. Our tab
                components are created to enhance user experience and
                expedite the development process with extensive
                customization options and built-in features.</p>
        </section>

        <section>
            <h2>Key Features</h2>
            <ul>
                <li><strong>Various Structures:</strong> DarkChicken Tab
                    elements offer
                    various structure options. You can enrich your projects with
                    tabs that
                    allow users to switch between different contents.</li>
                <li><strong>Customizability:</strong> You can customize the
                    appearance
                    and feel of the Tab elements according to your projects. You
                    can
                    change colors, sizes, borders, and more with CSS.</li>
                <li><strong>State Management:</strong> Tab elements support
                    various
                    states such as active, clickable, and hoverable. These
                    states help you
                    manage user interactions and feedback more effectively.</li>
                <li><strong>Accessibility:</strong> DarkChicken is designed in
                    accordance
                    with accessibility standards. Tab elements are fully
                    compatible with
                    screen readers and keyboard navigation.</li>
            </ul>
        </section>

        <section>
            <h2>Usage Examples</h2>
            <h3>Basic Tabs</h3>
            <ul>
                <li>Simple tabs with various content sections.</li>
                <li>Customizable appearance and feel with CSS.</li>
                <li>Support for active, clickable, and hoverable states.</li>
            </ul>

            <h3>Advanced Tabs</h3>
            <ul>
                <li>Tabs with integrated state management features.</li>
                <li>Examples demonstrating how to provide feedback for
                    various interaction scenarios.</li>
            </ul>

            <h3>Interactive Tabs</h3>
            <ul>
                <li>Tabs with event bindings to handle state changes and user
                    interactions.</li>
                <li>Fully accessible tabs compatible with screen readers and
                    keyboard navigation.</li>
            </ul>

            <p>Explore the sections below to see how <code>dcm-tab</code>
                components can be implemented and customized in various
                scenarios. These examples will guide you through the
                essential features and functionalities, helping you to
                create intuitive and robust tabs for your Angular
                applications.</p>
        </section>
    </div>

</div>

<div class="content container">
    <section class="card" (click)="onModalClick('modal1', $event)">
        <h2 class="button-title">Active Tab Management With Event</h2>
        <div class="button-wrapper">
            <dcm-tab [tab]="activePages"
                (dcTabChange)="dcTabChange($event)"
                (dcTabClick)="dcTabClick($event)"
                (dcTabHover)="dcTabHover($event)"
                (dcTabMouseDown)="dcTabMouseDown($event)"
                (dcTabMouseUp)="dcTabMouseUp($event)"
                (dcTabMouseEnter)="dcTabMouseEnter($event)"
                (dcTabMouseLeave)="dcTabMouseLeave($event)"
                (dcTabDoubleClick)="dcTabDoubleClick($event)">
                <div #tabContent [id]="pages[0].tabId"> Nested Content
                    1</div>
                <div #tabContent [id]="pages[1].tabId"> Nested Content
                    2</div>
                <div #tabContent [id]="pages[2].tabId"> Nested Content
                    3</div>
            </dcm-tab>
        </div>
    </section>

    <section class="card" (click)="onModalClick('modal1', $event)">
        <h2 class="button-title">Nested Tab</h2>
        <div class="button-wrapper">
            <dcm-tab [tab]="pages" class="content-lib-item">
                <div #tabContent [id]="pages[0].tabId">
                    <dcm-tab [tab]="nestedTab1"
                        class="content-lib-item">
                        <div #tabContent [id]="nestedTab1[0].tabId">
                            Nested Content 1</div>
                        <div #tabContent [id]="nestedTab1[1].tabId">
                            Nested Content 2</div>
                        <div #tabContent [id]="nestedTab1[2].tabId">
                            Nested Content 3</div>
                    </dcm-tab>
                    Tab Content 1
                </div>
                <div #tabContent [id]="pages[1].tabId">
                    <dcm-tab [tab]="nestedTab2"
                        class="content-lib-item">
                        <div #tabContent [id]="nestedTab2[0].tabId">
                            Nested Content 1</div>
                        <div #tabContent [id]="nestedTab2[1].tabId">
                            Nested Content 2</div>
                        <div #tabContent [id]="nestedTab2[2].tabId">
                            Nested Content 3</div>
                    </dcm-tab>
                    Tab Content 2
                </div>
                <div #tabContent [id]="pages[2].tabId">
                    <dcm-tab [tab]="nestedTab3"
                        class="content-lib-item">
                        <div #tabContent [id]="nestedTab3[0].tabId">
                            Nested Content 1</div>
                        <div #tabContent [id]="nestedTab3[1].tabId">
                            Nested Content 2</div>
                        <div #tabContent [id]="nestedTab3[2].tabId">
                            Nested Content 3</div>
                    </dcm-tab>
                    Tab Content 3
                </div>
            </dcm-tab>
        </div>
    </section>
</div>

<div class="container">
    <div class="header">
        <h1 class="header-title">Properties</h1><br><br>
        <dcm-tab [tab]="tabProperties" (dcTabChange)="tabChange()">
            <div #tabContent id="1">
                <dc-datatable
                    #table1
                    class="primary"
                    [rows]="inputRows"
                    [loadingIndicator]="false"
                    [columns]="inputColumns"
                    [columnMode]="'force'"
                    [reorderable]="false"
                    [allowColumnSearch]="true"
                    [scrollbarH]="false"
                    [useToolbar]="false"
                    [allowDeleting]="false"
                    [allowAdding]="false"
                    [allowEditing]="false">
                </dc-datatable>

            </div>
            <div #tabContent id="2">
                <dc-datatable
                    #table2
                    class="primary"
                    [rows]="eventRows"
                    [loadingIndicator]="false"
                    [columns]="eventColumns"
                    [columnMode]="'force'"
                    [reorderable]="false"
                    [allowColumnSearch]="true"
                    [scrollbarH]="false"
                    [useToolbar]="false"
                    [allowDeleting]="false"
                    [allowAdding]="false"
                    [allowEditing]="false">
                </dc-datatable>
            </div>
        </dcm-tab>
    </div>

</div>

<div class="modal-overlay" id="modalOverlay" (click)="closeModal()"
    [ngClass]="{'show':selectedModal=='modal1' ? true : false}"></div>
<div class="modal" id="modal"
    [ngClass]="{'show':selectedModal=='modal1' ? true : false}">

    <dcm-tab [tab]="tabs">
        <div #tabContent id="1">

            <iframe
                src="https://codesandbox.io/p/devbox/asd-my5g4g?embed=1&file=%2Fsrc%2Fapp%2Ftabs%2Ftabs.component.html"
                width="100%" height="600px" frameborder="1">
            </iframe>
        </div>
        <div #tabContent id="2">

            <iframe
                src="https://codesandbox.io/p/devbox/asd-my5g4g?embed=1&file=%2Fsrc%2Fapp%2Ftabs%2Ftabs.component.ts"
                width="100%" height="600px" frameborder="1">
            </iframe>
        </div>
    </dcm-tab>
</div>