<div class="content">
    <h1> Dark Chicken Molecular Tab</h1>

    <h2>Inputs</h2>
    <div class="content-item">
        <h3>Tab Model</h3>
        <dcm-tab class="content-tab" [tab]="tabs">
            <div #tabContent [id]="tabs[0].tabId">
                <div class="content-lib-items">
                    <dcm-tab [tab]="pages" class="content-lib-item">
                        <div #tabContent [id]="pages[0].tabId"> Content
                            1</div>
                        <div #tabContent [id]="pages[1].tabId"> Content
                            2</div>
                        <div #tabContent [id]="pages[2].tabId"> Content
                            3</div>
                    </dcm-tab>
                </div>
                <div class="content-item-description">
                    Tab yapısı biz geliştiriciler için sayfa üzerinde çalışma
                    alanı açmak için oldukça kullanışlı bir yapıdır. Bunu
                    bildiğimizden dolayı bu kadar hayat kolaylaştıran bir aracın
                    kullanımını zor tutmak istemedik. Çok basit bir 'TabModel'
                    yapısı sayesinde istediğiniz tab görünümünü elde
                    edebilirsiniz. Burada tab içeriğini görüntülemek için hangi
                    içeriğin hangi tab'ın görünümünü bize bildirmeniz
                    gerekmektedir. Bunu da '#tabContent' ve 'id' ile yapmanız
                    yeterli olacaktır.
                </div>
            </div>
            <div #tabContent [id]="tabs[1].tabId">
                <dcm-tab [tab]="codeTabs">
                    <pre #tabContent [id]="codeTabs[0].tabId">
                        <code class="language-html">{{tabModelHTML}}</code>
                    </pre>
                    <pre #tabContent [id]="codeTabs[1].tabId">
                        <code class="language-html">{{tabModelTS}}</code>
                    </pre>
                </dcm-tab>
            </div>
        </dcm-tab>
    </div>

    <div class="content-item">
        <h3>Tab Title With Icon</h3>
        <dcm-tab class="content-tab" [tab]="tabs">
            <div #tabContent [id]="tabs[0].tabId">
                <div class="content-lib-items">
                    <dcm-tab [tab]="pagesWithIcon" class="content-lib-item">
                        <div #tabContent [id]="pagesWithIcon[0].tabId"> Content
                            1</div>
                        <div #tabContent [id]="pagesWithIcon[1].tabId"> Content
                            2</div>
                        <div #tabContent [id]="pagesWithIcon[2].tabId"> Content
                            3</div>
                    </dcm-tab>
                </div>
                <div class="content-item-description">
                    Bazen geliştiriciler olarak icon'ları sayfa üzerinde
                    koyabildiğimiz her yere koyup yazı kalabalığından kurtulmak
                    isteriz. Tab yapısı içerisinede bu icon özelliğini ekledik.
                    Bu sayede istediğiniz iconu sadece 'TabModel' içerisindeki
                    'tabIcon'a vermeniz yeterli olacaktır.
                </div>
            </div>
            <div #tabContent [id]="tabs[1].tabId">
                <dcm-tab [tab]="codeTabs">
                    <pre #tabContent [id]="codeTabs[0].tabId">
                        <code class="language-html">{{tabIconHTML}}</code>
                    </pre>
                    <pre #tabContent [id]="codeTabs[1].tabId">
                        <code class="language-html">{{tabIconTS}}</code>
                    </pre>
                </dcm-tab>
            </div>
        </dcm-tab>
    </div>

    <div class="content-item">
        <h3>Active Tab Management</h3>
        <dcm-tab class="content-tab" [tab]="tabs">
            <div #tabContent [id]="tabs[0].tabId">
                <div class="content-lib-items">
                    <dcm-tab [tab]="activePages" class="content-lib-item">
                        <div #tabContent [id]="activePages[0].tabId"> Content
                            1</div>
                        <div #tabContent [id]="activePages[1].tabId"> Content
                            2</div>
                        <div #tabContent [id]="activePages[2].tabId"> Content
                            3</div>
                    </dcm-tab>
                </div>
                <div class="content-item-description">
                    Genellikle aktif olan tab en baştaki'dir ama bazen bunu
                    değiştirmek isteriz. Belki de kullanıcının son kaldığı tab'ı
                    aktif olarak tutmak isteriz. Bu sebeplerden dolayı
                    geliştiriclere hangi tab'ın aktif olarak
                    görüntülenbileceğini seçmesine olanak sağlıyoruz. Yani hangi
                    tab'ın aktif olacağını sadece kullanıcı değil biz
                    geliştiriciler'de çok basit bir şekilde belirleyebiliriz.
                </div>
            </div>
            <div #tabContent [id]="tabs[1].tabId">
                <dcm-tab [tab]="codeTabs">
                    <pre #tabContent [id]="codeTabs[0].tabId">
                        <code class="language-html">{{activeTabHTML}}</code>
                    </pre>
                    <pre #tabContent [id]="codeTabs[1].tabId">
                        <code class="language-html">{{activeTabTS}}</code>
                    </pre>
                </dcm-tab>
            </div>
        </dcm-tab>
    </div>

    <div class="content-item">
        <h3>Nested Tab</h3>
        <dcm-tab class="content-tab" [tab]="tabs">
            <div #tabContent [id]="tabs[0].tabId">
                <div class="content-lib-items">
                    <dcm-tab [tab]="pages" class="content-lib-item">
                        <div #tabContent [id]="pages[0].tabId">
                            <dcm-tab [tab]="nestedTab1" class="content-lib-item">
                                <div #tabContent [id]="nestedTab1[0].tabId">
                                    Nested Content 1</div>
                                <div #tabContent [id]="nestedTab1[1].tabId">
                                    Nested Content 2</div>
                                <div #tabContent [id]="nestedTab1[2].tabId">
                                    Nested Content 3</div>
                            </dcm-tab>
                            Tab Content 1
                        </div>
                        <div #tabContent [id]="pages[1].tabId">
                            <dcm-tab [tab]="nestedTab2" class="content-lib-item">
                                <div #tabContent [id]="nestedTab2[0].tabId">
                                    Nested Content 1</div>
                                <div #tabContent [id]="nestedTab2[1].tabId">
                                    Nested Content 2</div>
                                <div #tabContent [id]="nestedTab2[2].tabId">
                                    Nested Content 3</div>
                            </dcm-tab>
                            Tab Content 2
                        </div>
                        <div #tabContent [id]="pages[2].tabId">
                            <dcm-tab [tab]="nestedTab3" class="content-lib-item">
                                <div #tabContent [id]="nestedTab3[0].tabId">
                                    Nested Content 1</div>
                                <div #tabContent [id]="nestedTab3[1].tabId">
                                    Nested Content 2</div>
                                <div #tabContent [id]="nestedTab3[2].tabId">
                                    Nested Content 3</div>
                            </dcm-tab>
                            Tab Content 3
                        </div>
                    </dcm-tab>
                </div>
                <div class="content-item-description">
                    Bakıldığında iç içe bir tab yapısı kullanmak istiyorsanız
                    ekstra bir işlev yapmanıza gerek yok. Daha çnce
                    tanımladığınız tab'lar gibi yeni bir tab'ı tanımlamanız
                    yeterli. Unutmayın biz tab yapısını oluşturmak için nereye
                    yazdığınıza değil nasıl yazdığınıza bakıyoruz
                </div>
            </div>
            <div #tabContent [id]="tabs[1].tabId">
                <dcm-tab [tab]="codeTabs">
                    <pre #tabContent [id]="codeTabs[0].tabId">
                        <code class="language-html">{{nestedTabHTML}}</code>
                    </pre>
                    <pre #tabContent [id]="codeTabs[1].tabId">
                        <code class="language-html">{{nestedTabTS}}</code>
                    </pre>
                </dcm-tab>
            </div>
        </dcm-tab>
    </div>

    <h2>Outputs</h2>
    <div class="content-item">
        <dcm-tab class="content-tab" [tab]="tabs">
            <div #tabContent [id]="tabs[0].tabId">
                <div class="content-lib-items">
                    <dcm-tab (dcTabChange)="dcTabChange($event)" (dcTabClick)="dcTabClick($event)"
                        (dcTabHover)="dcTabHover($event)" (dcTabMouseDown)="dcTabMouseDown($event)"
                        (dcTabMouseUp)="dcTabMouseUp($event)" (dcTabMouseEnter)="dcTabMouseEnter($event)"
                        (dcTabMouseLeave)="dcTabMouseLeave($event)" (dcTabDoubleClick)="dcTabDoubleClick($event)"
                        [tab]="activePages" class="content-lib-item">
                        <div #tabContent [id]="activePages[0].tabId"> Content
                            1</div>
                        <div #tabContent [id]="activePages[1].tabId"> Content
                            2</div>
                        <div #tabContent [id]="activePages[2].tabId"> Content
                            3</div>
                    </dcm-tab>
                </div>
                <div class="content-item-description">
                    Bu bölümde tab için vermiş olduğumuz event'leri
                    inceleyeceğiz.
                    Burada diğer atomic elementlerde verilen
                    eventlere çok benzer bir şekilde yöntem izledik ve
                    yakaladığımız her event'i size verdik. Tarayıcınızın
                    konsolunu açarak verilen eventleri ve çıktılarını
                    görebilirsiniz.
                </div>
            </div>
            <div #tabContent [id]="tabs[1].tabId">
                <dcm-tab [tab]="codeTabs">
                    <pre #tabContent [id]="codeTabs[0].tabId">
                        <code class="language-html">{{tabEventsHTML}}</code>
                    </pre>
                    <pre #tabContent [id]="codeTabs[1].tabId">
                        <code class="language-html">{{tabEventsTS}}</code>
                    </pre>
                </dcm-tab>
            </div>
        </dcm-tab>
    </div>

</div>