

<div class="container">
  <div class="header">
    <h1 class="header-title">Darkchicken Buttons</h1><br><br>
    <p>DarkChicken is an innovative library providing user interface tools for developers using Angular. The "Button" UI elements in this library are 
      designed to optimize user experience and facilitate the developers' work. Here are the basic features and usage of DarkChicken Button elements:
      <br>
      <b>Basic Features</b>
      <br>
      <b>Various Styles:</b>
      DarkChicken Button elements come in various styles. Predefined styles such as default, primary, secondary, and danger allow you to use buttons 
      for different purposes in your projects easily.
      <br>
      <b>Customizability:</b>
      You can customize the appearance and feel of the Button elements according to your projects. You can change the color, size, border radius, and more via CSS.
      <br>
      <b>State Management:</b>
      Button elements support different states such as active, disabled, and loading. These states allow you to manage user interactions and feedback more effectively.
      <br>
      <b>Accessibility:</b>
      DarkChicken is designed according to accessibility standards. Button elements are fully compatible with screen readers and keyboard navigation.</p>
      
  </div>

</div>

<div class="content container">
  <section class="card" (click)="onModalClick('modal1')">
    <h2 class="button-title">Default</h2>
    <div class="button-wrapper">
      <dca-button
        buttonText="Primary"
        dcClass="dca-btn dca-btn-primary"></dca-button>
      <dca-button buttonText="Secondary"
        dcClass="dca-btn dca-btn-secondary"></dca-button>
      <dca-button buttonText="Success"
        dcClass="dca-btn dca-btn-success"></dca-button>
      <dca-button buttonText="Danger"
        dcClass="dca-btn dca-btn-danger"></dca-button>
      <dca-button buttonText="Warning"
        dcClass="dca-btn dca-btn-warning"></dca-button>
      <dca-button buttonText="Info"
        dcClass="dca-btn dca-btn-info"></dca-button>
      <dca-button buttonText="Dark"
        dcClass="dca-btn dca-btn-dark"></dca-button>
      <dca-button buttonText="Light"
        dcClass="dca-btn dca-btn-light"></dca-button>
    </div>
  </section>
  <section class="card" (click)="onModalClick('modal1')">
    <h2 class="button-title">Outline</h2>
    <div class="button-wrapper">
      <dca-button buttonText="Primary"
        dcClass="dca-btn dca-btn-outline-primary"></dca-button>
      <dca-button buttonText="Secondary"
        dcClass="dca-btn dca-btn-outline-secondary"></dca-button>
      <dca-button buttonText="Success"
        dcClass="dca-btn dca-btn-outline-success"></dca-button>
      <dca-button buttonText="Danger"
        dcClass="dca-btn dca-btn-outline-danger"></dca-button>
      <dca-button buttonText="Warning"
        dcClass="dca-btn dca-btn-outline-warning"></dca-button>
      <dca-button buttonText="Info"
        dcClass="dca-btn dca-btn-outline-info"></dca-button>
      <dca-button buttonText="Dark"
        dcClass="dca-btn dca-btn-outline-dark"></dca-button>
      <dca-button buttonText="Light"
        dcClass="dca-btn dca-btn-outline-light"></dca-button>
    </div>
  </section>
  <section class="card" (click)="onModalClick('modal1')">
    <h2 class="button-title">Passive Buttons</h2>
    <div class="button-wrapper">
      <dca-button [disabled]="true" buttonText="Primary"
        dcClass="dca-btn dca-btn-primary"></dca-button>
      <dca-button [disabled]="true" buttonText="Secondary"
        dcClass="dca-btn dca-btn-secondary"></dca-button>
      <dca-button [disabled]="true" buttonText="Success"
        dcClass="dca-btn dca-btn-success"></dca-button>
      <dca-button [disabled]="true" buttonText="Danger"
        dcClass="dca-btn dca-btn-danger"></dca-button>
      <dca-button [disabled]="true" buttonText="Warning"
        dcClass="dca-btn dca-btn-warning"></dca-button>
      <dca-button [disabled]="true" buttonText="Info"
        dcClass="dca-btn dca-btn-info"></dca-button>
      <dca-button [disabled]="true" buttonText="Dark"
        dcClass="dca-btn dca-btn-dark"></dca-button>
      <dca-button [disabled]="true" buttonText="Light"
        dcClass="dca-btn dca-btn-light"></dca-button>
    </div>
  </section>
  <section class="card" (click)="onModalClick('modal1')">
    <h2 class="button-title">Events</h2>
    <div class="button-wrapper">
      <dca-button
      buttonText="Events & Sized"
      dcClass="dca-btn dca-btn-primary"
      class="card-last-button"
      (dcClick)="dcClick($event)"
      (dcHover)="dcHover($event)"
      (dcMouseUp)="dcMouseUp($event)"
      (dcMouseDown)="dcMouseDown($event)"
      (dcMouseOut)="dcMouseOut($event)"
      (dcMouseEnter)="dcMouseEnter($event)"
      (dcDoubleClick)="dcDoubleClick($event)"
      width="400px"
      height="100px"></dca-button>

    </div>
  </section>

</div>

<div class="container">
  <div class="header">
    <h1 class="header-title">Properties</h1><br><br>
    <dcm-tab [tab]="tabProperties" (dcTabChange)="tabChange()">
      <div #tabContent id="1">
        <dc-datatable
        #table1
          class="primary"
          [rows]="inputRows"
          [loadingIndicator]="false"
          [columns]="inputColumns"
          [columnMode]="'force'"
          [reorderable]="false"
          [allowColumnSearch]="true"
          [scrollbarH]="false"
          [useToolbar]="false"
          [allowDeleting]="false"
          [allowAdding]="false"
          [allowEditing]="false"
          >
          </dc-datatable>
          
      </div>
    <div #tabContent id="2">
          <dc-datatable
          #table2
            class="primary"
            [rows]="eventRows"
            [loadingIndicator]="false"
            [columns]="eventColumns"
            [columnMode]="'force'"
            [reorderable]="false"
            [allowColumnSearch]="true"
            [scrollbarH]="false"
            [useToolbar]="false"
            [allowDeleting]="false"
            [allowAdding]="false"
            [allowEditing]="false"
            >
            </dc-datatable>
        </div>
      </dcm-tab>
    </div>

</div>

<div class="modal-overlay" id="modalOverlay" (click)="closeModal()"
  [ngClass]="{'show':selectedModal=='modal1' ? true : false}"></div>
<div class="modal" id="modal"
  [ngClass]="{'show':selectedModal=='modal1' ? true : false}">

  <dcm-tab [tab]="tabs">
    <div #tabContent id="1">

      <iframe
        src="https://codesandbox.io/p/devbox/asd-my5g4g?embed=1&file=%2Fsrc%2Fapp%2Fbuttons%2Fbuttons.component.html"
        width="100%" height="600px" frameborder="1">
      </iframe>
    </div>
    <div #tabContent id="2">

      <iframe
        src="https://codesandbox.io/p/devbox/asd-my5g4g?embed=1&file=%2Fsrc%2Fapp%2Fbuttons%2Fbuttons.component.ts"
        width="100%" height="600px" frameborder="1">
      </iframe>
    </div>
  </dcm-tab>
</div>

