<div class="card">
    <h3>PRIMARY</h3>
    <div class="button-container">
        <dca-button (dcClick)="dcClick($event)" (dcHover)="dcHover($event)" (dcMouseUp)="dcMouseUp($event)"
            (dcMouseDown)="dcMouseDown($event)" (dcMouseOut)="dcMouseOut($event)" (dcMouseEnter)="dcMouseEnter($event)"
            (dcDoubleClick)="dcDoubleClick($event)" buttonText="PRIMARY" class="dc-btn dc-btn-primary"
            [isToggle]="true"></dca-button>
        <dca-button buttonText="PRIMARY PASİF" class="dc-btn dc-btn-primary" [disabled]="true"></dca-button>
        <dca-button buttonText="PRIMARY OUTLINE" class="dc-btn dc-btn-outline-primary"></dca-button>
        <dca-button buttonText="PRIMARY OUTLINE PASİF" class="dc-btn dc-btn-outline-primary"
            [disabled]="true"></dca-button>
    </div>
</div>

<div class="card">
    <h3>SECONDARY</h3>
    <div class="button-container">
        <dca-button buttonText="SECONDARY" class="dc-btn dc-btn-secondary"></dca-button>
        <dca-button buttonText="SECONDARY PASİF" class="dc-btn dc-btn-secondary" [disabled]="true"></dca-button>
        <dca-button buttonText="SECONDARY OUTLINE" class="dc-btn dc-btn-outline-secondary"></dca-button>
        <dca-button buttonText="SECONDARY OUTLINE PASİF" class="dc-btn dc-btn-outline-secondary"
            [disabled]="true"></dca-button>
    </div>
</div>

<div class="card">
    <h3>SUCCESS</h3>
    <div class="button-container">
        <dca-button buttonText="SUCCESS" class="dc-btn dc-btn-success"></dca-button>
        <dca-button buttonText="SUCCESS PASİF" class="dc-btn dc-btn-success" [disabled]="true"></dca-button>
        <dca-button buttonText="SUCCESS OUTLINE" class="dc-btn dc-btn-outline-success"></dca-button>
        <dca-button buttonText="SUCCESS OUTLINE PASİF" class="dc-btn dc-btn-outline-success"
            [disabled]="true"></dca-button>
    </div>
</div>

<div class="card">
    <h3>DANGER</h3>
    <div class="button-container">
        <dca-button buttonText="DANGER" class="dc-btn dc-btn-danger"></dca-button>
        <dca-button buttonText="DANGER PASİF" class="dc-btn dc-btn-danger" [disabled]="true"></dca-button>
        <dca-button buttonText="DANGER OUTLINE" class="dc-btn dc-btn-outline-danger"></dca-button>
        <dca-button buttonText="DANGER OUTLINE PASİF" class="dc-btn dc-btn-outline-danger"
            [disabled]="true"></dca-button>
    </div>
</div>

<div class="card">
    <h3>WARNING</h3>
    <div class="button-container">
        <dca-button buttonText="WARNING" class="dc-btn dc-btn-warning"></dca-button>
        <dca-button buttonText="WARNING PASİF" class="dc-btn dc-btn-warning" [disabled]="true"></dca-button>
        <dca-button buttonText="WARNING OUTLINE" class="dc-btn dc-btn-outline-warning"></dca-button>
        <dca-button buttonText="WARNING OUTLINE PASİF" class="dc-btn dc-btn-outline-warning"
            [disabled]="true"></dca-button>
    </div>
</div>

<div class="card">
    <h3>INFO</h3>
    <div class="button-container">
        <dca-button buttonText="INFO" class="dc-btn dc-btn-info"></dca-button>
        <dca-button buttonText="INFO PASİF" class="dc-btn dc-btn-info" [disabled]="true"></dca-button>
        <dca-button buttonText="INFO OUTLINE" class="dc-btn dc-btn-outline-info"></dca-button>
        <dca-button buttonText="INFO OUTLINE PASİF" class="dc-btn dc-btn-outline-info" [disabled]="true"></dca-button>
    </div>
</div>

<div class="card" style="background-color: black;">
    <h3>LIGHT</h3>
    <div class="button-container">
        <dca-button buttonText="LIGHT" class="dc-btn dc-btn-light"></dca-button>
        <dca-button buttonText="LIGHT PASİF" class="dc-btn dc-btn-light" [disabled]="true"></dca-button>
        <dca-button buttonText="LIGHT OUTLINE" class="dc-btn dc-btn-outline-light"></dca-button>
        <dca-button buttonText="LIGHT OUTLINE PASİF" class="dc-btn dc-btn-outline-light" [disabled]="true"></dca-button>
    </div>
</div>
<div class="card">
    <h3>DARK</h3>
    <div class="button-container">
        <dca-button buttonText="DARK" class="dc-btn dc-btn-dark"></dca-button>
        <dca-button buttonText="DARK PASİF" class="dc-btn dc-btn-dark" [disabled]="true"></dca-button>
        <dca-button buttonText="DARK OUTLINE" class="dc-btn dc-btn-outline-dark"></dca-button>
        <dca-button buttonText="DARK OUTLINE PASİF" class="dc-btn dc-btn-outline-dark" [disabled]="true"></dca-button>
    </div>
</div>