<!-- <div class="content">
  <h1>Dark Chicken Atomic Button</h1>

  <h2>No Decoration</h2>
  <div class="content-item">
    <dcm-tab class="content-tab" [tab]="tabs" id="1">
      <div #tabContent [id]="tabs[0].tabId">
        <div class="content-lib-items">
          <dca-button
            dcClass="dca-btn dca-btn-primary"
            class="content-lib-item"></dca-button>
          <dca-button
            dcClass="dca-btn dca-btn-secondary"
            class="content-lib-item"></dca-button>
          <dca-button
            dcClass="dca-btn dca-btn-success"
            class="content-lib-item"></dca-button>
          <dca-button
            dcClass="dca-btn dca-btn-danger"
            class="content-lib-item"></dca-button>
          <dca-button
            dcClass="dca-btn dca-btn-warning"
            class="content-lib-item"></dca-button>
          <dca-button
            dcClass="dca-btn dca-btn-info"
            class="content-lib-item"></dca-button>
          <dca-button
            dcClass="dca-btn dca-btn-dark"
            class="content-lib-item"></dca-button>
          <dca-button
            dcClass="dca-btn dca-btn-light"
            class="content-lib-item"></dca-button>
        </div>
        <div class="content-item-description">
          Ekibimiz olarak herhangi bir element için type gerekli gördüysek
          bunları class vererek özelleştirme imkanını sizlere sunduk. Button da
          bu elementlerden bir tanesi. 'dcClass' etiketi içerisinde bir class
          tanımı yapıldığında element içen kendi classımızı tanımlamış oluyoruz.
          Burada 'dcClass' içerisinde tanımladığımız class tanımları
          butonlarımızın tiplerini belirliyor. Sekiz farklı button sunduk
          sizlere bunların görünümünü 'dcClass' ile verdiğiniz class etiketi
          sayesinde kendize göre özelleştirebilirsiniz.
        </div>
      </div>
      <pre
        #tabContent
        [id]="tabs[1].tabId"
        class="line-numbers"><code class="language-html">{{noDecorationButton}}</code></pre>
    </dcm-tab>
  </div>

  <h2>With Decoration</h2>
  <div class="content-item">
    <h3>Button With Text</h3>
    <dcm-tab class="content-tab" [tab]="tabs" id="2">
      <div #tabContent [id]="tabs[0].tabId">
        <div class="content-lib-items">
          <dca-button
            buttonText="Primary"
            dcClass="dca-btn dca-btn-primary"
            class="content-lib-item"></dca-button>
          <dca-button
            buttonText="Secondary"
            dcClass="dca-btn dca-btn-secondary"
            class="content-lib-item"></dca-button>
          <dca-button
            buttonText="Success"
            dcClass="dca-btn dca-btn-success"
            class="content-lib-item"></dca-button>
          <dca-button
            buttonText="Danger"
            dcClass="dca-btn dca-btn-danger"
            class="content-lib-item"></dca-button>
          <dca-button
            buttonText="Warning"
            dcClass="dca-btn dca-btn-warning"
            class="content-lib-item"></dca-button>
          <dca-button
            buttonText="Info"
            dcClass="dca-btn dca-btn-info"
            class="content-lib-item"></dca-button>
          <dca-button
            buttonText="Dark"
            dcClass="dca-btn dca-btn-dark"
            class="content-lib-item"></dca-button>
          <dca-button
            buttonText="Light"
            dcClass="dca-btn dca-btn-light"
            class="content-lib-item"></dca-button>
        </div>
        <div class="content-item-description">
          Buttonlar içerisine istediğiniz bir text'i 'buttonText' etiketi
          sayesinde verebilirisiniz. Sizlere örnek için sunduuğumuz etikelerde
          aynı zamanda buttonlara kendi koyduğumuz isimleri de sunmaktayız.
        </div>
      </div>
      <pre
        #tabContent
        [id]="tabs[1].tabId"
        class="line-numbers"><code class="language-html">{{buttonWithTextButton}}</code></pre>
    </dcm-tab>
  </div>

  <div class="content-item">
    <h3>Outlined Buttons</h3>
    <dcm-tab [tab]="tabs" id="3">
      <div #tabContent [id]="tabs[0].tabId">
        <div class="content-lib-items">
          <dca-button
            buttonText="Primary"
            dcClass="dca-btn dca-btn-outline-primary"
            class="content-lib-item"></dca-button>
          <dca-button
            buttonText="Secondary"
            dcClass="dca-btn dca-btn-outline-secondary"
            class="content-lib-item"></dca-button>
          <dca-button
            buttonText="Success"
            dcClass="dca-btn dca-btn-outline-success"
            class="content-lib-item"></dca-button>
          <dca-button
            buttonText="Danger"
            dcClass="dca-btn dca-btn-outline-danger"
            class="content-lib-item"></dca-button>
          <dca-button
            buttonText="Warning"
            dcClass="dca-btn dca-btn-outline-warning"
            class="content-lib-item"></dca-button>
          <dca-button
            buttonText="Info"
            dcClass="dca-btn dca-btn-outline-info"
            class="content-lib-item"></dca-button>
          <dca-button
            buttonText="Dark"
            dcClass="dca-btn dca-btn-outline-dark"
            class="content-lib-item"></dca-button>
          <dca-button
            buttonText="Light"
            dcClass="dca-btn dca-btn-outline-light"
            class="content-lib-item"></dca-button>
        </div>
        <div class="content-item-description">
          Buttonlarda ekstra bir tip olarak 'outlined' özelliğini de sunuyoruz.
          Bu özelliği kullanmak için 'dcClass' içerisine 'outlined' string'ini
          eklememiz yeterli olacaktır.
        </div>
      </div>
      <pre
        #tabContent
        [id]="tabs[1].tabId"
        class="line-numbers"><code class="language-html">{{outlinedButton}}</code></pre>
    </dcm-tab>
  </div>
  <div class="content-item">
    <h3>Passive Buttons</h3>
    <dcm-tab [tab]="tabs" id="4">
      <div #tabContent [id]="tabs[0].tabId">
        <div class="content-lib-items">
          <dca-button
            buttonText="Primary"
            dcClass="dca-btn dca-btn-primary"
            class="content-lib-item"
            [disabled]="true"></dca-button>
          <dca-button
            buttonText="Secondary"
            dcClass="dca-btn dca-btn-secondary"
            class="content-lib-item"
            [disabled]="true"></dca-button>
          <dca-button
            buttonText="Success"
            dcClass="dca-btn dca-btn-success"
            class="content-lib-item"
            [disabled]="true"></dca-button>
          <dca-button
            buttonText="Danger"
            dcClass="dca-btn dca-btn-danger"
            class="content-lib-item"
            [disabled]="true"></dca-button>
          <dca-button
            buttonText="Warning"
            dcClass="dca-btn dca-btn-warning"
            class="content-lib-item"
            [disabled]="true"></dca-button>
          <dca-button
            buttonText="Info"
            dcClass="dca-btn dca-btn-info"
            class="content-lib-item"
            [disabled]="true"></dca-button>
          <dca-button
            buttonText="Dark"
            dcClass="dca-btn dca-btn-dark"
            class="content-lib-item"
            [disabled]="true"></dca-button>
          <dca-button
            buttonText="Light"
            dcClass="dca-btn dca-btn-light"
            class="content-lib-item"
            [disabled]="true"></dca-button>
        </div>
        <div class="content-item-description">
          HTML biz geliştiricilere buttonlar için disabled özelliğini
          sunmaktadır. Bizlerde HTML'in verdiği bu özelliği neden sizlere
          sunmaktan kaçınalım diye kendimize sorduk ve bir cevap bulamadık.
          'disabled' etiketini kullanarak buttonları basitçe disabled
          yapabilirsiniz.
        </div>
      </div>
      <pre
        #tabContent
        [id]="tabs[1].tabId"
        class="line-numbers"><code class="language-html">{{passiveButton}}</code></pre>
    </dcm-tab>
  </div>

  <div class="content-item">
    <h3>Button Events</h3>
    <dcm-tab [tab]="tabs" id="5">
      <div #tabContent [id]="tabs[0].tabId">
        <div class="content-lib-items">
          <dca-button
            buttonText="Primary"
            dcClass="dca-btn dca-btn-primary"
            class="content-lib-item"
            (dcClick)="dcClick($event)"
            (dcHover)="dcHover($event)"
            (dcMouseUp)="dcMouseUp($event)"
            (dcMouseDown)="dcMouseDown($event)"
            (dcMouseOut)="dcMouseOut($event)"
            (dcMouseEnter)="dcMouseEnter($event)"
            (dcDoubleClick)="dcDoubleClick($event)"></dca-button>
        </div>
        <div class="content-item-description">
          Bu bölümde button için vermiş olduğumuz event'leri inceleyeceğiz.
          Burada diğer atomic elementlerde verilen
          eventlere çok benzer bir şekilde yöntem izledik ve
          yakaladığımız her event'i size verdik. Tarayıcınızın
          konsolunu açarak verilen eventleri ve çıktılarını
          görebilirsiniz.
        </div>
      </div>
      <div #tabContent [id]="tabs[1].tabId">
        <dcm-tab [tab]="codeTabs" id="11">
          <pre
            #tabContent
            [id]="codeTabs[0].tabId"
            class="line-numbers"><code class="language-html">{{buttonEventsHtml}}</code></pre>

          <pre
            #tabContent
            [id]="codeTabs[1].tabId"
            class="line-numbers"><code class="language-ts">{{buttonEventsTs}}</code></pre>
        </dcm-tab>
      </div>
    </dcm-tab>
  </div>

  <div class="content-item">
    <h3>Button Size</h3>
    <dcm-tab [tab]="tabs" id="6">
      <div #tabContent [id]="tabs[0].tabId">
        <div class="content-lib-items">
          <dca-button
            buttonText="Primary"
            dcClass="dca-btn dca-btn-primary"
            class="content-lib-item"
            width="400px"
            height="10px"></dca-button>
        </div>
        <div class="content-item-description">
          Son olarak genişlik ve yükseklik attribute'larına bakalım. Burada
          sizleri CSS dosyaları içerisine boğmak
          istemediğimizden hiç değilse boyutlandırmayı sizin için yapabiliriz
          dedik. Eğer ki belirlediğimiz genişlik
          sizin için uygun değilse 'width' ve 'height' attributlarını vererek
          istediğiniz değeri atayabilirsiniz.
        </div>
      </div>
      <pre
        #tabContent
        [id]="tabs[1].tabId"
        class="line-numbers"><code class="language-html">{{buttonSize}}</code></pre>
    </dcm-tab>
  </div>
</div> -->

<div class="content">
  <h1>Dark Chicken Atomic Button</h1>
  <dcm-tab class="main-tab" [tab]="mainTabs" id="1">
    <div class="overview tab-content" #tabContent [id]="mainTabs[0].tabId">
      <div class="full-des">
        <h2> Lorem ipsum dolor sit</h2>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam, error
        recusandae. Cum dolores repellat ut sit provident vero beatae, nobis
        voluptate eum et nostrum eligendi. Libero cumque quisquam delectus odio
        vel mollitia est similique, quidem omnis minus sequi, nemo architecto
        esse commodi necessitatibus quia tempora voluptate neque ullam
        cupiditate repellat ipsum? Nihil quos autem laudantium laboriosam cumque
        consequatur corrupti ipsa aliquam harum aliquid laborum, accusamus
        nostrum amet impedit atque, alias, temporibus in perspiciatis pariatur
        ipsam. Placeat consequatur repellat sequi! Nulla officia quis, ipsa
        minima fugiat cupiditate omnis nobis sapiente sed enim voluptatum,
        repellat ad aliquam, quaerat accusamus rerum necessitatibus sequi.
      </div>
      <div class="content-lib">
        <h3>Lorem ipsum</h3>
        <div class="content-lib-items">
          <dca-button
            buttonText="Primary"
            dcClass="dca-btn dca-btn-outline-primary"
            class="content-lib-item"></dca-button>
          <dca-button
            buttonText="Secondary"
            dcClass="dca-btn dca-btn-outline-secondary"
            class="content-lib-item"></dca-button>
          <dca-button
            buttonText="Success"
            dcClass="dca-btn dca-btn-outline-success"
            class="content-lib-item"></dca-button>
          <dca-button
            buttonText="Danger"
            dcClass="dca-btn dca-btn-outline-danger"
            class="content-lib-item"></dca-button>
          <dca-button
            buttonText="Warning"
            dcClass="dca-btn dca-btn-outline-warning"
            class="content-lib-item"></dca-button>
          <dca-button
            buttonText="Info"
            dcClass="dca-btn dca-btn-outline-info"
            class="content-lib-item"></dca-button>
          <dca-button
            buttonText="Dark"
            dcClass="dca-btn dca-btn-outline-dark"
            class="content-lib-item"></dca-button>
          <dca-button
            buttonText="Light"
            dcClass="dca-btn dca-btn-outline-light"
            class="content-lib-item"></dca-button>
        </div>
      </div>

      <div class="one-line-des">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta fuga
        animi labore neque, nesciunt itaque ex error rem aspernatur laboriosam,
        nihil placeat blanditiis praesentium, magnam ab sit nam culpa
        architecto!
      </div>
      <div class="one-line-des">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta fuga
        animi labore neque, nesciunt itaque ex error rem aspernatur laboriosam,
        nihil placeat blanditiis praesentium, magnam ab sit nam culpa
        architecto!
      </div>
      <div class="one-line-des">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta fuga
        animi labore neque, nesciunt itaque ex error rem aspernatur laboriosam,
        nihil placeat blanditiis praesentium, magnam ab sit nam culpa
        architecto!
      </div>
    </div>
    <div class="api tab-content" #tabContent [id]="mainTabs[1].tabId">
      <div class="full-des">
        <h2> Lorem ipsum dolor sit</h2>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam, error
        recusandae. Cum dolores repellat ut sit provident vero beatae, nobis
        voluptate eum et nostrum eligendi. Libero cumque quisquam delectus odio
        vel mollitia est similique, quidem omnis minus sequi, nemo architecto
        esse commodi necessitatibus quia tempora voluptate neque ullam
        cupiditate repellat ipsum? Nihil quos autem laudantium laboriosam cumque
        consequatur corrupti ipsa aliquam harum aliquid laborum, accusamus
        nostrum amet impedit atque, alias, temporibus in perspiciatis pariatur
        ipsam. Placeat consequatur repellat sequi! Nulla officia quis, ipsa
        minima fugiat cupiditate omnis nobis sapiente sed enim voluptatum,
        repellat ad aliquam, quaerat accusamus rerum necessitatibus sequi.
      </div>
      <div class="api-table">
        <dc-datatable
          class="primary"
          [rows]="apiTableRows1"
          [columns]="apiTableColumns1"
          [columnMode]="'force'"
          [allowDeleting]="false"
          [useToolbar]="false"
          [allowEditing]="false"
          [footerHeight]="0"
          [rowHeight]="32"
          ></dc-datatable>
      </div>
    </div>

  </dcm-tab>

</div>