@import url('../assets/fonts/IBM_Plex_Sans/IBM-Plex-Sans.css');

*{
    font-family: 'IBMPlexxSans', sans-serif;
}

.hidden{
    display: none;
}

/* .dca-icon{
    width: 16px;
    height: 16px;
} */
