/*#region Atom Components CSS*/
@import url('../assets/fonts/IBM_Plex_Sans/IBM-Plex-Sans.css');
@import url('../src/lib/components/atoms/bread-crumb/dc-bread-crumb.component.css');
@import url('../src/lib/components/atoms/button/dc-button.component.css');
@import url('../src/lib/components/atoms/checkbox/dc-checkbox.component.css');
@import url('../src/lib/components/atoms/icon/dc-icon.component.css');
@import url('../src/lib/components/atoms/input/dc-input.component.css');
@import url('../src/lib/components/atoms/list/dc-list.component.css');
@import url('../src/lib/components/atoms/spinner/dc-spinner.component.css');
@import url('../src/lib/components/atoms/tree/dc-tree.component.css');
/*#endregion*/

/*#region Molecule Components CSS*/
@import url('../src/lib/components/molecules/dc-dropdown/dc-dropdown.component.css');
@import url('../src/lib/components/molecules/dc-tab/dc-tab.component.css');

/*#endregion*/

/*#region Grid Components CSS*/
@import url('../src/lib/components/grid/dc-grid/dc-grid.component.css');
@import url('../src/lib/components/grid/grid-header-cell/grid-header-cell.component.css');

/*#endregion*/

*{
    font-family: 'IBMPlexxSans', sans-serif;

    --dc-color-primary: #4a90e2;
    --dc-color-primary-hover:#4169aa;
    --dc-color-secondary:#6c757d;
    --dc-color-secondary-hover:#545b62;
    --dc-color-success:#4caf50;
    --dc-color-success-hover:#388e3c;
    --dc-color-danger:#e53935;
    --dc-color-danger-hover:#c62828;
    --dc-color-warning:#ff9800;
    --dc-color-warning-hover:#f57c00;
    --dc-color-info:#00bcd4;
    --dc-color-info-hover:#00838f;
    --dc-color-light:#f5f5f5;
    --dc-color-light-hover:#e0e0e0;
    --dc-color-dark:#333333;
    --dc-color-dark-hover:#1a1a1a;
    --dc-color-white: #fff;
    --dc-color-menu-logo: #1d1b31;
    --dc-color-menu: #11101d;

    --dc-grid-header-radius:0.5rem;
}

.hidden{
    display: none;
}

.disable{
    opacity: 0.7;
    cursor: default;
}



/* .dca-icon{
    width: 16px;
    height: 16px;
} */

