<div class="spinner-container">
    <dca-spinner [active]="active"></dca-spinner>
    <dca-spinner class="dca-spinner-secondary"></dca-spinner>
    <dca-spinner [active]="active" class="dca-spinner-success"></dca-spinner>
    <dca-spinner class="dca-spinner-danger"></dca-spinner>
    <dca-spinner [active]="active" class="dca-spinner-warning"></dca-spinner>
    <dca-spinner class="dca-spinner-info"></dca-spinner>
    <dca-spinner [active]="active" class="dca-spinner-light"></dca-spinner>
    <dca-spinner class="dca-spinner-dark"></dca-spinner>
  </div>
  <br>
  <dca-button class="dca-btn dca-btn-primary" buttonText="SPINNER VISIBLE" (dcClick)="click($event)"></dca-button>