

<div class="container">
  <div class="header">
    <h1 class="header-title">Darkchicken Spinner</h1><br><br>
    <p>DarkChicken is an innovative library providing user interface tools for developers using Angular. The "Spinner" UI elements in this library are designed to optimize user experience and facilitate the developers' work. Here are the basic features and usage of DarkChicken Spinner elements:
      <br>
      <b>Basic Features</b>
      <br>
      <b>Various Styles:</b>
      DarkChicken Spinner elements come in various styles. Predefined styles such as primary, secondary, success, danger, warning, info, light, and dark allow you to use spinners for different purposes in your projects easily.
      <br>
      <b>Customizability:</b>
      You can customize the appearance and feel of the Spinner elements according to your projects. You can change the color, size, speed, and more via CSS.
      <br>
      <b>State Management:</b>
      Spinner elements support different loading states. These states allow you to manage user interactions and feedback more effectively.
      <br>
      <b>Accessibility:</b>
      DarkChicken is designed according to accessibility standards. Spinner elements are fully compatible with screen readers and keyboard navigation.</p>
      
  </div>

</div>

<div class="content container">
  <section class="card" (click)="onModalClick('modal1')">
    <h2 class="button-title">Default</h2>
    <div class="button-wrapper">
      <dca-spinner class="content-lib-item"
            dcClass="dca-spinner-primary"></dca-spinner>
          <dca-spinner class="content-lib-item"
            dcClass="dca-spinner-secondary"></dca-spinner>
          <dca-spinner class="content-lib-item"
            dcClass="dca-spinner-success"></dca-spinner>
          <dca-spinner class="content-lib-item"
            dcClass="dca-spinner-danger"></dca-spinner>
          <dca-spinner class="content-lib-item"
            dcClass="dca-spinner-warning"></dca-spinner>
          <dca-spinner class="content-lib-item"
            dcClass="dca-spinner-info"></dca-spinner>
          <dca-spinner class="content-lib-item"
            dcClass="dca-spinner-light"></dca-spinner>
          <dca-spinner class="content-lib-item"
            dcClass="dca-spinner-dark"></dca-spinner>

    </div>
  </section>
  

</div>

<div class="container">
  <div class="header">
    <h1 class="header-title">Properties</h1><br><br>
      <div #tabContent id="1">
        <dc-datatable
        #table1
          class="primary"
          [rows]="inputRows"
          [loadingIndicator]="false"
          [columns]="inputColumns"
          [columnMode]="'force'"
          [reorderable]="false"
          [allowColumnSearch]="true"
          [scrollbarH]="false"
          [useToolbar]="false"
          [allowDeleting]="false"
          [allowAdding]="false"
          [allowEditing]="false"
          >
          </dc-datatable>
          
      </div>
    </div>

</div>

<div class="modal-overlay" id="modalOverlay" (click)="closeModal()"
  [ngClass]="{'show':selectedModal=='modal1' ? true : false}"></div>
<div class="modal" id="modal"
  [ngClass]="{'show':selectedModal=='modal1' ? true : false}">

  <dcm-tab [tab]="tabs">
    <div #tabContent id="1">

      <iframe
        src="https://codesandbox.io/p/devbox/asd-my5g4g?embed=1&file=%2Fsrc%2Fapp%2Fspinners%2Fspinners.component.html"
        width="100%" height="600px" frameborder="1">
      </iframe>
    </div>
    <div #tabContent id="2">

      <iframe
        src="https://codesandbox.io/p/devbox/asd-my5g4g?embed=1&file=%2Fsrc%2Fapp%2Fspinners%2Fspinnert.component.ts"
        width="100%" height="600px" frameborder="1">
      </iframe>
    </div>
  </dcm-tab>
</div>
